<div id='header' class="header">
  <div class="title">Todo Express</div>
  <% if(user && user.id) { %>
    <div class="nav">
      <a href='/' class="link">Home</a>
      <a href='/todos' class="link">Todos</a>
      <a href='/write' class="link">Write</a>
      <a href='/auth/logout' id="logout" class="link" >Logout</a>
    </div>
    <script src='../header.js'></script>
  <%}else {%>
    <div class="nav">
      <a href='/' class="link">Home</a>
      <a href='/join' class="link">Join</a>
      <a href='/login' class="link">Login</a>
    </div>
  <%}%>
</div>
