<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/index.css'/>
  <title><%=title%></title>
</head>
<body>
  <%-include('header')%>
  <div class="mainContent">
    <div class="mainContent">
      <div class="formTitle">Login</div>
      <form class="form" method='POST' action='/auth/login'>
        <input class='formInput' type='email' placeholder="Email" name="email" required autofocus></input>
        <input class='formInput' type='password' placeholder="Password" name="password" required></input>
        <div className='alert'>
          <% if(loginError){ %>
            <div>
              <%=loginError %>
            </div>
          <% } %>
        </div>
        <input class='formInputBtn' type="submit" value="submit"></input>
      </form>
    </div>
  </div>
  <%-include('footer')%>
  <script>
  </script>
</body>
</html>