<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/index.css'/>
  <title><%=title%></title>
</head>
<body>
  <%-include('header')%>
  <div class="mainContent">
    <div class="todo">
      <div class="">

      </div>
    </div>
  </div>
  <%-include('footer')%>
  <script>

  </script>
</body>
</html>