<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/index.css'/>
  <title><%=title%></title>
</head>
<body>
  <%-include('header')%>
  <div class="mainContent">
    <div class="formTitle">Write Todo</div>
    <form class="form" method='POST' action='/todo/write'>
      <input id="title" class='formInput' type='text' placeholder="Title" name='title' required autofocus></input>
      <input id="date" class='formInput' type='date' placeholder="Date" name='date' required></input>
      <textarea id="text" class='formTextArea' placeholder="Write something here..." name="text" required></textarea>
      <input class='formInputBtn' type="submit" value="submit">
    </form>
  </div>
  <%-include('footer')%>
  <script>
  </script>
</body>
</html>